<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="presentModal()">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let about of abouts" [routerLink]="['./', about.id]">
            <ion-label>
              <ion-img [src]="about.imageUrl"></ion-img>
              <br />
              <h1> {{ about.title }} </h1>
              {{ about.description }}
              <br />
              <br />
              {{ about.description2 }}
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
